/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html, body {
    height: 100%;
}
body {
    line-height: 1;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#game-intro {
    align-content: center;
    overflow: hidden;
    position: relative;
    background-image: url(../img/night.png);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150vh;
}
h1, p, .buttons-container {
    color: white; /* Ajustez la couleur du texte pour une meilleure lisibilité sur l'image de fond */
}
h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    color: transparent;
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff);
    background-size: 600% 600%;
    animation: rainbowWavy 4s linear infinite;
    -webkit-background-clip: text;
    background-clip: text;
}

@keyframes rainbowWavy {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

p {
    font-size: 1rem;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0.5rem;
    width:20vh;

}
span{
    font-size: 1rem;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0.5rem;
}

.buttons-container {
    padding : 20px ;
}
.startbtn, .instructionbtn, .musicbtn  {

    padding: 20px 30px;
    background-image: radial-gradient(circle, rgb(254, 124, 42) 0%, rgb(72, 28, 2) 100%);
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
    margin: 10px;
  }
  .startbtn:hover, .instructionbtn:hover, .musicbtn:hover  {
    

    padding: 20px 30px;
    background-image: radial-gradient(circle, rgb(254, 124, 42) 0%, rgb(72, 28, 2) 100%);
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: white;
  }

/* game screen --------------------------------*/


  #game-screen {
    background-image: url('../img/night.png');
    background-size: repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    padding :50vh;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;

}


header button {
    margin-left: 10px;

}



#game-screen .image-container {
    max-width: 100%;
    margin: 10px;
    
}
#presenter-image, #productImage {
    width: 35vw;
    height: auto;
}
    


.result-container {
    text-align: center;
    margin : 10vh;
}
#presenter-image img,  #productImage img {
    width: 55%;
    aspect-ratio: 3/2;
    object-fit:  contain;
}

.container {
	height: 100%;
}


html, body, .container {
    height: 100%;
}

.container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.uppercase {
    text-transform: uppercase;
}
.btn {
    display: inline-block;
    background: transparent;
    color: inherit;
    font: inherit;
    border: 0;
    outline: 0;
    padding: 0;
    transition: all 200ms ease-in;
    cursor: pointer;
    border-radius: 100px;
}
.btn--primary {
    background: #fe7c2a;
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
    padding: 12px 36px;
}
.btn--primary:hover {
    background: #481c02;
}
.btn--primary:active {
    background: #fe7c2a;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, .2);
}
.btn--inside {
    margin-left: -96px;
}
.form__field {
    width: 360px;
    background: #fff;
    color: #a3a3a3;
    font: inherit;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
    border: 0;
    outline: 0;
    padding: 22px 18px;
    border-radius: 5px;
    margin-top: 20px;
}


/*timer--------------------------------*/



.label {
    font-size: 90px;
    font-weight: 900;
    text-anchor: middle;
    fill: rgb(34, 213, 201);
    transform: translate(0, 25px);
}

/*instruction--------------------------------*/

p.instruction{

    font-size: 20px;
    padding: 10px;

}
/*game)result--------------------------------*/


#game-results {
    background-image: url('../img/night.png');
    background-position: center;
    height: 100vh;
    display: flex;
    width: 150vh;
}
#rewardsList img {
    height: auto; 
    width: 35%;
    aspect-ratio: 3/2;
    object-fit:  contain;
}
#rewardsList li  {
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 2rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0.5rem;
   
}

#rewardsList li :hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}


#rewardsList li img {
	display: inline-block;
	width: 65%;
    margin: 40px;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0.5rem;
   
}

    

